<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		</head>
		<body>
			<hr>
				<table cellspacing=0 border=1 style="text-align: center;">
					<tr>
						<td style=min-width:100px></td>
						<td style=min-width:100px></td>
						<td style=min-width:100px colspan="4">F1</td>
						<td style=min-width:100px colspan="4">F2</td>
						<td style=min-width:100px colspan="4">F3</td>
						<td style=min-width:100px colspan="4">F4</td>
						<td style=min-width:100px colspan="4">F5</td>
					</tr>
					<tr>
						<td style=min-width:100px></td>
						<td style=min-width:100px></td>
						<td style=min-width:100px>C01</td>
						<td style=min-width:100px>C02</td>
						<td style=min-width:100px>C03</td>
						<td style=min-width:100px>C04</td>
						<td style=min-width:100px>C05</td>
						<td style=min-width:100px>C06</td>
						<td style=min-width:100px>C07</td>
						<td style=min-width:100px>C08</td>
						<td style=min-width:100px>C09</td>
						<td style=min-width:100px>C10</td>
						<td style=min-width:100px>N01</td>
						<td style=min-width:100px>N02</td>
						<td style=min-width:100px>N03</td>
						<td style=min-width:100px>N04</td>
						<td style=min-width:100px>N05</td>
						<td style=min-width:100px>N06</td>
						<td style=min-width:100px>N07</td>
						<td style=min-width:100px>N08</td>
						<td style=min-width:100px>N09</td>
						<td style=min-width:100px>N10</td>
					</tr>
					<tr>
						<td style=min-width:100px rowspan="4">F1</td>
						<td style=min-width:100px>C01</td>
						<td style=min-width:100px>C01C01<br>과업일반화</td>
						<td style=min-width:100px>C01C02<br>과업통합환경</td>
						<td style=min-width:100px>C01C03<br>임무필수과업</td>
						<td style=min-width:100px>C01C04<br>임무형통솔</td>
						<td style=min-width:100px>C01C05<br>과업조직</td>
						<td style=min-width:100px>C01C06<br>과업지침</td>
						<td style=min-width:100px>C01C07<br>과업형태</td>
						<td style=min-width:100px>C01C08<br>공간과업</td>
						<td style=min-width:100px>C01C09<br>과업특성</td>
						<td style=min-width:100px>C01C10<br>경쟁력우위</td>
						<td style=min-width:100px>C01N01<br>계획형태</td>
						<td style=min-width:100px>C01N02<br>전략계획</td>
						<td style=min-width:100px>C01N03<br>프로그램</td>
						<td style=min-width:100px>C01N04<br>위기계획</td>
						<td style=min-width:100px>C01N05<br>계획체계</td>
						<td style=min-width:100px>C01N06<br>계획보고</td>
						<td style=min-width:100px>C01N07<br>과업기능</td>
						<td style=min-width:100px>C01N08<br>계획실행</td>
						<td style=min-width:100px>C01N09<br>계획점검</td>
						<td style=min-width:100px>C01N10<br>개념계획</td>
					</tr>
					<tr>
						<td style=min-width:100px>C02</td>
						<td style=min-width:100px>C02C01<br>환경이슈</td>
						<td style=min-width:100px>C02C02<br>통합조건</td>
						<td style=min-width:100px>C02C03<br>상황판단</td>
						<td style=min-width:100px>C02C04<br>환경보존</td>
						<td style=min-width:100px>C02C05<br>생물바이오</td>
						<td style=min-width:100px>C02C06<br>환경고려요소</td>
						<td style=min-width:100px>C02C07<br>환경기술</td>
						<td style=min-width:100px>C02C08<br>대기오염</td>
						<td style=min-width:100px>C02C09<br>물자원</td>
						<td style=min-width:100px>C02C10<br>기후변화</td>
						<td style=min-width:100px>C02N01<br>환경정책</td>
						<td style=min-width:100px>C02N02<br>환경전략</td>
						<td style=min-width:100px>C02N03<br>신재생에너지</td>
						<td style=min-width:100px>C02N04<br>갈등환경</td>
						<td style=min-width:100px>C02N05<br>정보준비</td>
						<td style=min-width:100px>C02N06<br>상황보고</td>
						<td style=min-width:100px>C02N07<br>대륙환경</td>
						<td style=min-width:100px>C02N08<br>해양환경</td>
						<td style=min-width:100px>C02N09<br>긴급사태</td>
						<td style=min-width:100px>C02N10<br>국립공원</td>
					</tr>
					<tr>
						<td style=min-width:100px>C03</td>
						<td style=min-width:100px>C03C01<br>우발계획</td>
						<td style=min-width:100px>C03C02<br>해군절차</td>
						<td style=min-width:100px>C03C03<br>정밀계획절차</td>
						<td style=min-width:100px>C03C04<br>임무형</td>
						<td style=min-width:100px>C03C05<br>통합과업조직절차</td>
						<td style=min-width:100px>C03C06<br>이론발전절차</td>
						<td style=min-width:100px>C03C07<br>통합운영계획절차</td>
						<td style=min-width:100px>C03C08<br>통합통신절차</td>
						<td style=min-width:100px>C03C09<br>통합표적절차</td>
						<td style=min-width:100px>C03C10<br>다국적운영절차</td>
						<td style=min-width:100px>C03N01<br>국가정책절차</td>
						<td style=min-width:100px>C03N02<br>국가전략절차</td>
						<td style=min-width:100px>C03N03<br>ppbe</td>
						<td style=min-width:100px>C03N04<br>군대의사결정과정</td>
						<td style=min-width:100px>C03N05<br>정보절차</td>
						<td style=min-width:100px>C03N06<br>산학연정</td>
						<td style=min-width:100px>C03N07<br>구조절차</td>
						<td style=min-width:100px>C03N08<br>실행절차</td>
						<td style=min-width:100px>C03N09<br>평가절차</td>
						<td style=min-width:100px>C03N10<br>운영디자인절차</td>
					</tr>
					<tr>
						<td style=min-width:100px>C04</td>
						<td style=min-width:100px>C04C01<br>통솔</td>
						<td style=min-width:100px>C04C02<br>해군통솔</td>
						<td style=min-width:100px>C04C03<br>통솔절차</td>
						<td style=min-width:100px>C04C04<br>결심권자</td>
						<td style=min-width:100px>C04C05<br>참모조직</td>
						<td style=min-width:100px>C04C06<br>법률</td>
						<td style=min-width:100px>C04C07<br>통제</td>
						<td style=min-width:100px>C04C08<br>공군통솔통제</td>
						<td style=min-width:100px>C04C09<br>납세의무</td>
						<td style=min-width:100px>C04C10<br>세계통솔통제</td>
						<td style=min-width:100px>C04N01<br>국가안전</td>
						<td style=min-width:100px>C04N02<br>법무부전략계획</td>
						<td style=min-width:100px>C04N03<br>금융관리지원</td>
						<td style=min-width:100px>C04N04<br>육군통솔통제</td>
						<td style=min-width:100px>C04N05<br>통솔통제체계</td>
						<td style=min-width:100px>C04N06<br>참모교육</td>
						<td style=min-width:100px>C04N07<br>법률구조</td>
						<td style=min-width:100px>C04N08<br>실행위원회</td>
						<td style=min-width:100px>C04N09<br>사법</td>
						<td style=min-width:100px>C04N10<br>정의</td>
					</tr>
					<tr>
						<td style=min-width:100px rowspan="4">F2</td>
						<td style=min-width:100px>C05</td>
						<td style=min-width:100px>C05C01<br>인간</td>
						<td style=min-width:100px>C05C02<br>구성원</td>
						<td style=min-width:100px>C05C03<br>인간통합과정화</td>
						<td style=min-width:100px>C05C04<br>과업조직본부</td>
						<td style=min-width:100px>C05C05<br>조직</td>
						<td style=min-width:100px>C05C06<br>학구적</td>
						<td style=min-width:100px>C05C07<br>전문조직</td>
						<td style=min-width:100px>C05C08<br>조직간</td>
						<td style=min-width:100px>C05C09<br>특별조직</td>
						<td style=min-width:100px>C05C10<br>국제조직운영</td>
						<td style=min-width:100px>C05N01<br>외국인</td>
						<td style=min-width:100px>C05N02<br>인권</td>
						<td style=min-width:100px>C05N03<br>공직자임금</td>
						<td style=min-width:100px>C05N04<br>전투부대운영</td>
						<td style=min-width:100px>C05N05<br>인간집권화분권화운영</td>
						<td style=min-width:100px>C05N06<br>역사철학</td>
						<td style=min-width:100px>C05N07<br>야생동물</td>
						<td style=min-width:100px>C05N08<br>노동</td>
						<td style=min-width:100px>C05N09<br>약품</td>
						<td style=min-width:100px>C05N10<br>개인회복</td>
					</tr>
					<tr>
						<td style=min-width:100px>C06</td>
						<td style=min-width:100px>C06C01<br>통합이론</td>
						<td style=min-width:100px>C06C02<br>해양이론</td>
						<td style=min-width:100px>C06C03<br>이론발전과정</td>
						<td style=min-width:100px>C06C04<br>이론참모지시</td>
						<td style=min-width:100px>C06C05<br>이론수립조직</td>
						<td style=min-width:100px>C06C06<br>용어분석</td>
						<td style=min-width:100px>C06C07<br>복사</td>
						<td style=min-width:100px>C06C08<br>이론사이트</td>
						<td style=min-width:100px>C06C09<br>이론구체화</td>
						<td style=min-width:100px>C06C10<br>세계국가</td>
						<td style=min-width:100px>C06N01<br>이론정책</td>
						<td style=min-width:100px>C06N02<br>상대이론</td>
						<td style=min-width:100px>C06N03<br>이론연구</td>
						<td style=min-width:100px>C06N04<br>분석형판</td>
						<td style=min-width:100px>C06N05<br>이론발전체계</td>
						<td style=min-width:100px>C06N06<br>연구산학연정</td>
						<td style=min-width:100px>C06N07<br>문헌</td>
						<td style=min-width:100px>C06N08<br>문장구조</td>
						<td style=min-width:100px>C06N09<br>공공문서</td>
						<td style=min-width:100px>C06N10<br>이론혁신</td>
					</tr>
					<tr>
						<td style=min-width:100px>C07</td>
						<td style=min-width:100px>C07C01<br>과학</td>
						<td style=min-width:100px>C07C02<br>솔루션</td>
						<td style=min-width:100px>C07C03<br>운영체계별</td>
						<td style=min-width:100px>C07C04<br>통솔통제</td>
						<td style=min-width:100px>C07C05<br>체계간상호작용성</td>
						<td style=min-width:100px>C07C06<br>이론체계국력</td>
						<td style=min-width:100px>C07C07<br>국가통합운영체계</td>
						<td style=min-width:100px>C07C08<br>계획정보집권화</td>
						<td style=min-width:100px>C07C09<br>구체화솔루션</td>
						<td style=min-width:100px>C07C10<br>지속성솔루션</td>
						<td style=min-width:100px>C07N01<br>국력분배구조</td>
						<td style=min-width:100px>C07N02<br>상대성통합구조</td>
						<td style=min-width:100px>C07N03<br>금융운영</td>
						<td style=min-width:100px>C07N04<br>위기관리</td>
						<td style=min-width:100px>C07N05<br>통합5개구조</td>
						<td style=min-width:100px>C07N06<br>자동화솔루션</td>
						<td style=min-width:100px>C07N07<br>대륙적용구조</td>
						<td style=min-width:100px>C07N08<br>단계별개선구조</td>
						<td style=min-width:100px>C07N09<br>시민권위</td>
						<td style=min-width:100px>C07N10<br>성공솔루션</td>
					</tr>
					<tr>
						<td style=min-width:100px>C08</td>
						<td style=min-width:100px>C08C01<br>통신</td>
						<td style=min-width:100px>C08C02<br>사이버</td>
						<td style=min-width:100px>C08C03<br>링크노드</td>
						<td style=min-width:100px>C08C04<br>우주운영</td>
						<td style=min-width:100px>C08C05<br>네트워크</td>
						<td style=min-width:100px>C08C06<br>출판미디어</td>
						<td style=min-width:100px>C08C07<br>집권화통제</td>
						<td style=min-width:100px>C08C08<br>운영보안</td>
						<td style=min-width:100px>C08C09<br>텔레통신</td>
						<td style=min-width:100px>C08C10<br>우체국</td>
						<td style=min-width:100px>C08N01<br>우주방어</td>
						<td style=min-width:100px>C08N02<br>미사일대응</td>
						<td style=min-width:100px>C08N03<br>상업우주운영</td>
						<td style=min-width:100px>C08N04<br>전자전</td>
						<td style=min-width:100px>C08N05<br>C4I</td>
						<td style=min-width:100px>C08N06<br>공공출판</td>
						<td style=min-width:100px>C08N07<br>근접항공지원</td>
						<td style=min-width:100px>C08N08<br>공중기동</td>
						<td style=min-width:100px>C08N09<br>전자스펙트럼관리</td>
						<td style=min-width:100px>C08N10<br>공간통제</td>
					</tr>
					<tr>
						<td style=min-width:100px rowspan="4">F3</td>
						<td style=min-width:100px>C09</td>
						<td style=min-width:100px>C09C01<br>장비</td>
						<td style=min-width:100px>C09C02<br>물석유</td>
						<td style=min-width:100px>C09C03<br>표준운영절차</td>
						<td style=min-width:100px>C09C04<br>강약점</td>
						<td style=min-width:100px>C09C05<br>인원동원</td>
						<td style=min-width:100px>C09C06<br>구체화요소</td>
						<td style=min-width:100px>C09C07<br>특별기술운영</td>
						<td style=min-width:100px>C09C08<br>분배</td>
						<td style=min-width:100px>C09C09<br>물자동원</td>
						<td style=min-width:100px>C09C10<br>표준화</td>
						<td style=min-width:100px>C09N01<br>구체화</td>
						<td style=min-width:100px>C09N02<br>통합전략능력계획</td>
						<td style=min-width:100px>C09N03<br>광산</td>
						<td style=min-width:100px>C09N04<br>화생방</td>
						<td style=min-width:100px>C09N05<br>능력통합발전체계</td>
						<td style=min-width:100px>C09N06<br>실행점검리스트</td>
						<td style=min-width:100px>C09N07<br>화력지원</td>
						<td style=min-width:100px>C09N08<br>에너지</td>
						<td style=min-width:100px>C09N09<br>알콜담배약</td>
						<td style=min-width:100px>C09N10<br>결과관리</td>
					</tr>
					<tr>
						<td style=min-width:100px>C10</td>
						<td style=min-width:100px>C10C01<br>시설</td>
						<td style=min-width:100px>C10C02<br>항로해운</td>
						<td style=min-width:100px>C10C03<br>세계국가다자간</td>
						<td style=min-width:100px>C10C04<br>시설세계국가</td>
						<td style=min-width:100px>C10C05<br>주택건물</td>
						<td style=min-width:100px>C10C06<br>세계국가</td>
						<td style=min-width:100px>C10C07<br>도시운영</td>
						<td style=min-width:100px>C10C08<br>세계국가사이버</td>
						<td style=min-width:100px>C10C09<br>배헬기항공</td>
						<td style=min-width:100px>C10C10<br>다국적운영</td>
						<td style=min-width:100px>C10N01<br>세계국가</td>
						<td style=min-width:100px>C10N02<br>전략적지속</td>
						<td style=min-width:100px>C10N03<br>물류</td>
						<td style=min-width:100px>C10N04<br>방어수송체계</td>
						<td style=min-width:100px>C10N05<br>세계국가정보</td>
						<td style=min-width:100px>C10N06<br>엔지니어</td>
						<td style=min-width:100px>C10N07<br>고속도로</td>
						<td style=min-width:100px>C10N08<br>수송</td>
						<td style=min-width:100px>C10N09<br>터미널항만</td>
						<td style=min-width:100px>C10N10<br>지속가능성</td>
					</tr>
					<tr>
						<td style=min-width:100px>N01</td>
						<td style=min-width:100px>N01C01<br>정치</td>
						<td style=min-width:100px>N01C02<br>안전체제전복</td>
						<td style=min-width:100px>N01C03<br>투표</td>
						<td style=min-width:100px>N01C04<br>대통령</td>
						<td style=min-width:100px>N01C05<br>정부고용인원능력</td>
						<td style=min-width:100px>N01C06<br>국가이론발전정책</td>
						<td style=min-width:100px>N01C07<br>국가적정책</td>
						<td style=min-width:100px>N01C08<br>정치인관리</td>
						<td style=min-width:100px>N01C09<br>국력요소</td>
						<td style=min-width:100px>N01C10<br>평화운영</td>
						<td style=min-width:100px>N01N01<br>우군동맹적국</td>
						<td style=min-width:100px>N01N02<br>국가전략연계</td>
						<td style=min-width:100px>N01N03<br>번영</td>
						<td style=min-width:100px>N01N04<br>국토방어</td>
						<td style=min-width:100px>N01N05<br>국가체계</td>
						<td style=min-width:100px>N01N06<br>국가적교육</td>
						<td style=min-width:100px>N01N07<br>지리적</td>
						<td style=min-width:100px>N01N08<br>억제선택안</td>
						<td style=min-width:100px>N01N09<br>공공정책</td>
						<td style=min-width:100px>N01N10<br>애국심</td>
					</tr>
					<tr>
						<td style=min-width:100px>N02</td>
						<td style=min-width:100px>N02C01<br>외교</td>
						<td style=min-width:100px>N02C02<br>전략판단</td>
						<td style=min-width:100px>N02C03<br>전략절차</td>
						<td style=min-width:100px>N02C04<br>전략적지시</td>
						<td style=min-width:100px>N02C05<br>인권전략</td>
						<td style=min-width:100px>N02C06<br>전략지침</td>
						<td style=min-width:100px>N02C07<br>전략</td>
						<td style=min-width:100px>N02C08<br>전략통신</td>
						<td style=min-width:100px>N02C09<br>대량살상무기</td>
						<td style=min-width:100px>N02C10<br>세계국가전략</td>
						<td style=min-width:100px>N02N01<br>민주주의</td>
						<td style=min-width:100px>N02N02<br>국가방어전략</td>
						<td style=min-width:100px>N02N03<br>중재</td>
						<td style=min-width:100px>N02N04<br>국가군사전략</td>
						<td style=min-width:100px>N02N05<br>전략정보</td>
						<td style=min-width:100px>N02N06<br>상대성통합</td>
						<td style=min-width:100px>N02N07<br>전구전략</td>
						<td style=min-width:100px>N02N08<br>전략적실행</td>
						<td style=min-width:100px>N02N09<br>테러마약</td>
						<td style=min-width:100px>N02N10<br>전략개념</td>
					</tr>
					<tr>
						<td style=min-width:100px rowspan="4">F4</td>
						<td style=min-width:100px>N03</td>
						<td style=min-width:100px>N03C01<br>경제</td>
						<td style=min-width:100px>N03C02<br>산업</td>
						<td style=min-width:100px>N03C03<br>PPBE</td>
						<td style=min-width:100px>N03C04<br>예산</td>
						<td style=min-width:100px>N03C05<br>직업</td>
						<td style=min-width:100px>N03C06<br>회계</td>
						<td style=min-width:100px>N03C07<br>운영적</td>
						<td style=min-width:100px>N03C08<br>은행업무</td>
						<td style=min-width:100px>N03C09<br>금융관리</td>
						<td style=min-width:100px>N03C10<br>상업무역</td>
						<td style=min-width:100px>N03N01<br>국내세수</td>
						<td style=min-width:100px>N03N02<br>금융전략</td>
						<td style=min-width:100px>N03N03<br>경영번영</td>
						<td style=min-width:100px>N03N04<br>Reform</td>
						<td style=min-width:100px>N03N05<br>Planning</td>
						<td style=min-width:100px>N03N06<br>산업산학연정</td>
						<td style=min-width:100px>N03N07<br>경영지리구조</td>
						<td style=min-width:100px>N03N08<br>실행명령</td>
						<td style=min-width:100px>N03N09<br>농업</td>
						<td style=min-width:100px>N03N10<br>유효성</td>
					</tr>
					<tr>
						<td style=min-width:100px>N04</td>
						<td style=min-width:100px>N04C01<br>군대운영</td>
						<td style=min-width:100px>N04C02<br>해군운영</td>
						<td style=min-width:100px>N04C03<br>군사결심과정</td>
						<td style=min-width:100px>N04C04<br>결심권자</td>
						<td style=min-width:100px>N04C05<br>세계부대관리</td>
						<td style=min-width:100px>N04C06<br>군사이론</td>
						<td style=min-width:100px>N04C07<br>운영</td>
						<td style=min-width:100px>N04C08<br>국방출판</td>
						<td style=min-width:100px>N04C09<br>통합차단</td>
						<td style=min-width:100px>N04C10<br>서비스</td>
						<td style=min-width:100px>N04N01<br>전쟁</td>
						<td style=min-width:100px>N04N02<br>안전협력</td>
						<td style=min-width:100px>N04N03<br>군사력통합</td>
						<td style=min-width:100px>N04N04<br>위기행동</td>
						<td style=min-width:100px>N04N05<br>통합운영계획</td>
						<td style=min-width:100px>N04N06<br>군사훈련</td>
						<td style=min-width:100px>N04N07<br>켐페인</td>
						<td style=min-width:100px>N04N08<br>국방활동</td>
						<td style=min-width:100px>N04N09<br>보훈</td>
						<td style=min-width:100px>N04N10<br>비대칭</td>
					</tr>
					<tr>
						<td style=min-width:100px>N05</td>
						<td style=min-width:100px>N05C01<br>정보</td>
						<td style=min-width:100px>N05C02<br>정보준비</td>
						<td style=min-width:100px>N05C03<br>정보절차</td>
						<td style=min-width:100px>N05C04<br>국가군대통솔체계</td>
						<td style=min-width:100px>N05C05<br>정보위원회</td>
						<td style=min-width:100px>N05C06<br>정보이론</td>
						<td style=min-width:100px>N05C07<br>통합운영계획실행체계</td>
						<td style=min-width:100px>N05C08<br>정보공유</td>
						<td style=min-width:100px>N05C09<br>정보데이터</td>
						<td style=min-width:100px>N05C10<br>세계정보확산</td>
						<td style=min-width:100px>N05N01<br>국가정보지원</td>
						<td style=min-width:100px>N05N02<br>통합전략계획체계</td>
						<td style=min-width:100px>N05N03<br>정보산업</td>
						<td style=min-width:100px>N05N04<br>정보분석</td>
						<td style=min-width:100px>N05N05<br>체계</td>
						<td style=min-width:100px>N05N06<br>정보보고</td>
						<td style=min-width:100px>N05N07<br>지리정보</td>
						<td style=min-width:100px>N05N08<br>적한한계획</td>
						<td style=min-width:100px>N05N09<br>해적</td>
						<td style=min-width:100px>N05N10<br>체계디자인</td>
					</tr>
					<tr>
						<td style=min-width:100px>N06</td>
						<td style=min-width:100px>N06C01<br>교육</td>
						<td style=min-width:100px>N06C02<br>상황인식훈련</td>
						<td style=min-width:100px>N06C03<br>교육컬리큐럼</td>
						<td style=min-width:100px>N06C04<br>리더교육</td>
						<td style=min-width:100px>N06C05<br>산학연정</td>
						<td style=min-width:100px>N06C06<br>학습연구</td>
						<td style=min-width:100px>N06C07<br>보고저작권</td>
						<td style=min-width:100px>N06C08<br>네트워크교육</td>
						<td style=min-width:100px>N06C09<br>타켓훈련</td>
						<td style=min-width:100px>N06C10<br>훈련센터</td>
						<td style=min-width:100px>N06N01<br>교육정책</td>
						<td style=min-width:100px>N06N02<br>교육전략</td>
						<td style=min-width:100px>N06N03<br>교육프로그램</td>
						<td style=min-width:100px>N06N04<br>군사교육</td>
						<td style=min-width:100px>N06N05<br>훈련체계</td>
						<td style=min-width:100px>N06N06<br>산학연정</td>
						<td style=min-width:100px>N06N07<br>훈련연습지원</td>
						<td style=min-width:100px>N06N08<br>전개훈련</td>
						<td style=min-width:100px>N06N09<br>고등교육평가</td>
						<td style=min-width:100px>N06N10<br>개념교육</td>
					</tr>
					<tr>
						<td style=min-width:100px rowspan="4">F5</td>
						<td style=min-width:100px>N07</td>
						<td style=min-width:100px>N07C01<br>구조</td>
						<td style=min-width:100px>N07C02<br>책임지역</td>
						<td style=min-width:100px>N07C03<br>상호지원구조</td>
						<td style=min-width:100px>N07C04<br>지시구조법률</td>
						<td style=min-width:100px>N07C05<br>인간조직적용</td>
						<td style=min-width:100px>N07C06<br>이론통합구조</td>
						<td style=min-width:100px>N07C07<br>기능</td>
						<td style=min-width:100px>N07C08<br>방지보호구조</td>
						<td style=min-width:100px>N07C09<br>에너지구조</td>
						<td style=min-width:100px>N07C10<br>지속가능성구조</td>
						<td style=min-width:100px>N07N01<br>전구안전</td>
						<td style=min-width:100px>N07N02<br>안전협조</td>
						<td style=min-width:100px>N07N03<br>지역발전</td>
						<td style=min-width:100px>N07N04<br>대륙사령부</td>
						<td style=min-width:100px>N07N05<br>지리정보</td>
						<td style=min-width:100px>N07N06<br>보고구조</td>
						<td style=min-width:100px>N07N07<br>하부구조</td>
						<td style=min-width:100px>N07N08<br>국가반응</td>
						<td style=min-width:100px>N07N09<br>방지보호구조</td>
						<td style=min-width:100px>N07N10<br>회복재건구조</td>
					</tr>
					<tr>
						<td style=min-width:100px>N08</td>
						<td style=min-width:100px>N08C01<br>실행</td>
						<td style=min-width:100px>N08C02<br>실행조건</td>
						<td style=min-width:100px>N08C03<br>시간계획</td>
						<td style=min-width:100px>N08C04<br>실행명령</td>
						<td style=min-width:100px>N08C05<br>상호운영성</td>
						<td style=min-width:100px>N08C06<br>적용</td>
						<td style=min-width:100px>N08C07<br>단계</td>
						<td style=min-width:100px>N08C08<br>반응균형</td>
						<td style=min-width:100px>N08C09<br>활동행동</td>
						<td style=min-width:100px>N08C10<br>개선단계</td>
						<td style=min-width:100px>N08N01<br>억제단계</td>
						<td style=min-width:100px>N08N02<br>전개철수</td>
						<td style=min-width:100px>N08N03<br>주도권</td>
						<td style=min-width:100px>N08N04<br>지배</td>
						<td style=min-width:100px>N08N05<br>적용계획</td>
						<td style=min-width:100px>N08N06<br>제한사항</td>
						<td style=min-width:100px>N08N07<br>안정화</td>
						<td style=min-width:100px>N08N08<br>이행</td>
						<td style=min-width:100px>N08N09<br>시민권위</td>
						<td style=min-width:100px>N08N10<br>전환</td>
					</tr>
					<tr>
						<td style=min-width:100px>N09</td>
						<td style=min-width:100px>N09C01<br>사회</td>
						<td style=min-width:100px>N09C02<br>자연재앙</td>
						<td style=min-width:100px>N09C03<br>사법절차</td>
						<td style=min-width:100px>N09C04<br>사회통솔</td>
						<td style=min-width:100px>N09C05<br>공공건강</td>
						<td style=min-width:100px>N09C06<br>이론역할</td>
						<td style=min-width:100px>N09C07<br>시민운영</td>
						<td style=min-width:100px>N09C08<br>사회보호</td>
						<td style=min-width:100px>N09C09<br>공공자산</td>
						<td style=min-width:100px>N09C10<br>의료시설</td>
						<td style=min-width:100px>N09N01<br>시민권위</td>
						<td style=min-width:100px>N09N02<br>대테러</td>
						<td style=min-width:100px>N09N03<br>공공사업</td>
						<td style=min-width:100px>N09N04<br>시민군대운영</td>
						<td style=min-width:100px>N09N05<br>시민재앙체계</td>
						<td style=min-width:100px>N09N06<br>평가보고</td>
						<td style=min-width:100px>N09N07<br>공공부지</td>
						<td style=min-width:100px>N09N08<br>종교과업</td>
						<td style=min-width:100px>N09N09<br>공공복지</td>
						<td style=min-width:100px>N09N10<br>평가점검</td>
					</tr>
					<tr>
						<td style=min-width:100px>N10</td>
						<td style=min-width:100px>N10C01<br>문화</td>
						<td style=min-width:100px>N10C02<br>기본조건</td>
						<td style=min-width:100px>N10C03<br>운영적접근</td>
						<td style=min-width:100px>N10C04<br>운영술</td>
						<td style=min-width:100px>N10C05<br>심리</td>
						<td style=min-width:100px>N10C06<br>원칙이론</td>
						<td style=min-width:100px>N10C07<br>운영디자인</td>
						<td style=min-width:100px>N10C08<br>철학</td>
						<td style=min-width:100px>N10C09<br>수단방법</td>
						<td style=min-width:100px>N10C10<br>경쟁력</td>
						<td style=min-width:100px>N10N01<br>통합성원리</td>
						<td style=min-width:100px>N10N02<br>상대성원리</td>
						<td style=min-width:100px>N10N03<br>기업정신</td>
						<td style=min-width:100px>N10N04<br>기만</td>
						<td style=min-width:100px>N10N05<br>체계사상</td>
						<td style=min-width:100px>N10N06<br>정의</td>
						<td style=min-width:100px>N10N07<br>구조통합</td>
						<td style=min-width:100px>N10N08<br>개념</td>
						<td style=min-width:100px>N10N09<br>사회혁신</td>
						<td style=min-width:100px>N10N10<br>가치</td>
					</tr>
				</table>
				<hr>
				</body>
			</html>
