{% load staticfiles %}
<html>
    <head>
        <title>Global System</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body style="width:1200px;margin:0 auto;">
        <!--HEADER-->
        <div class="page-header" style="background-image: url(../../static/image/back5.gif)">
            <!--<img src="../../static/image/back5.gif">-->
            <div class="page-header-left">
                <!--logo/link to main page-->
                <div style="width: 300px; height: 100px; cursor: pointer"
                onclick="location.href='{% url 'MainSite_index' %}'">
                </div>
                <div>
                    <!--main 2 btn-->
                    <div style="float:right; margin-bottom: 10px"">
                        <img src="../../static/image/world_bt02.gif"
                        onmouseover="this.src='../../static/image/world_bt01.gif'"
                        onmouseout="this.src='../../static/image/world_bt02.gif'" border="0"
                        class="main-btn">
                    </div>
                    <div style="float:right; margin-bottom: 10px">
                        <img src="../../static/image/contry_bt02.gif"
                        onmouseover="this.src='../../static/image/contry_bt01.gif'"
                        onmouseout="this.src='../../static/image/contry_bt02.gif'" border="0"
                        class="main-btn"
                        onclick="location.href='{% url 'MainSite_7' %}'">
                    </div>
                </div>
            </div>

            <div class="page-header-right">
                <h3>
                    <ul>
                        <li>
                            <a class="main-btn" onclick="location.href='{% url 'MainSite_2020' %}'">0F1 Matrix</a>
                        </li>
                        <li>
                            <a class="main-btn" onclick="location.href='{% url 'MainSite_2020' %}'">2F2 Matrix</a>
                        </li>
                        <li>
                            <a class="main-btn" onclick="location.href='{% url 'MainSite_2020' %}'">5F3 Matrix</a>
                        </li>
                        <li>
                            <a class="main-btn" onclick="location.href='{% url 'MainSite_2020' %}'">8F4 Matrix</a>
                        </li>
                        <li>
                            <a class="main-btn" onclick="location.href='{% url 'MainSite_2020' %}'">11F5 Matrix</a>
                        </li>
                    </ul>
                </h3>
            </div>


        </div>
        <div class="navigator">
        </div>
        <!--CONTENT-->
        <div class="page-content">
        {% block content %}
        {% endblock %} 

        </div>

        <!--FOOTER-->
        <div class="page-footer">
        <h5>Copyright@2018 TAJ All right Reserved</h5>
        </div>
        
    </body>
</html>