{% extends 'blog/MainSite/base.html' %}

{% block content %}
    <!--Title Tube-->
    <div class="title-tube" style="background-image:url(../../static/image/tb00.gif)">
        <div class="title-tube-box"><p>체계 국력 요소</p></div>
    </div>
    <div style="text-align: center">
    	<!--title selected-->
        <div class ="title-box">
        	<div class ="title-box-square"><p></p></div>
        	<!--제목바-->
        	<div class ="title-box-text"><p></p></div>
        </div>
        <!-- Drop down area-->
		<br>
		<!--Select 1-->
		<select onchange="location.href='{% url 'MainSite_suppleterm' %}'">
			<option selected="">체계 국력 요소</option>
			<option>과업</option>
			<option>환경</option>
			<option>절차</option>
			<option>통솔</option>
			<option>인간</option>
			<option>이론</option>
			<option>과학</option>
			<option>통신</option>
			<option>장비</option>
			<option>시설</option>
			<option>정치</option>
			<option>외교</option>
			<option>경제</option>
			<option>군사</option>
			<option>정보</option>
			<option>교육</option>
			<option>구조</option>
			<option>실행</option>
			<option>사회</option>
			<option>문화</option>
		</select>
		

		<!--Content area-->
		<div class="content-box-flow">
			<!--선택경로표시(미구현)-->
			<h4 style="margin: 0px"></h4>
		</div>
		<div class="content-box-main">
		</div>
		<div class="content-box-foot">
			<div style="position:absolute;right: 0px;bottom: 0px;border: 0px">
				<a><img src="../../static/image/rewrite.gif"></a>
				<a><img src="../../static/image/save.gif"></a>
				<a><img src="../../static/image/print.gif"></a>
			</div>
		</div>
    </div>
{% endblock %}