{% extends 'blog/MainSite/base.html' %}

{% block content %}
    <!--Title Tube-->
    <div class="title-tube" style="background-image:url(../../static/image/tb07.gif)">
        <div class="title-tube-box"><p>재 창 조</p></div>
    </div>
    <div>
    	<!--title selected-->
        <div class ="title-box">
        	<div class ="title-box-square"><p></p></div>
        	<!--제목바-->
        	<div class ="title-box-text"><p></p></div>
        </div>
        <!-- Drop down area-->
		<br>
		<!--Select 1-->
		<select onchange="location.href='{% url 'MainSite_board' %}'">
			<option selected="">-F1 1 STEP – IDENTITY-</option>
			<option>F1 0F1 - C1 SUBJECT</option>
			<option>F1 0F2 - C1 TASK</option>
			<option>F1 0F3 - N1 POLITICS</option>
			<option>F1 0F4 - N3 ECONOMICS</option>
			<option>F1 0F5 - N7 STRUCTURE</option>
		</select>
		<!--Select 2-->
		<select onchange="location.href='{% url 'MainSite_board' %}'">
			<option selected="">-F2 2 STEP - BEHAVIOR-</option>
			<option>F2 0F1 - C1 SUBJECT</option>
			<option>F2 0F2 - C2 ENVIRONMENT</option>
			<option>F2 0F3 - C7 OPERATION</option>
			<option>F2 0F4 - N5 INTALLIGENCE</option>
			<option>F2 0F5 - N6 EDUCATION</option>
		</select>
		<!--Select 3-->
		<select onchange="location.href='{% url 'MainSite_board' %}'">
			<option selected="">-F3 3 STEP - RELATIVITY-</option>
			<option>F3 0F1 - C1 SUBJECT</option>
			<option>F3 0F2 - N2 DIPLOMATIC</option>
			<option>F3 0F3 - N4 MILITARY</option>
			<option>F3 0F4 - N8 EXECUTION</option>
			<option>F3 0F5 - N9 SOCIETY</option>
		</select>
		<!--Select 4-->
		<select onchange="location.href='{% url 'MainSite_board' %}'">
			<option selected="">-F4 4 STEP – SUPPORT RELATIONSHIP-</option>
			<option>F4 0F1 - C1 SUBJECT</option>
			<option>F4 0F2 - C3 PROCESS</option>
			<option>F4 0F3 - C5 PERSONNEL</option>
			<option>F4 0F4 - C9 EQUIPMENT</option>
			<option>F4 0F5 - C10 FACILITY</option>
		</select>
		<!--Select 5-->
		<select onchange="location.href='{% url 'MainSite_board' %}'">
			<option selected="">-F5 5 STEP - COMMAND-</option>
			<option>F5 0F1 - C1 SUBJECT</option>
			<option>F5 0F2 - C4 COMMAND</option>
			<option>F5 0F3 - C6 DOCTRINE</option>
			<option>F5 0F4 - C8 COMMUNICATION</option>
			<option>F5 0F5 - N10 CULTURE</option>
		</select>
		

		<!--Content area-->
		<div class="content-box-flow">
			<!--선택경로표시(미구현)-->
			<h4 style="margin: 0px"></h4>
		</div>
		<div class="content-box-main">
		</div>
		<div class="content-box-foot">
			<div style="position:absolute;right: 0px;bottom: 0px;border: 0px">
				<a><img src="../../static/image/rewrite.gif"></a>
				<a><img src="../../static/image/save.gif"></a>
				<a><img src="../../static/image/print.gif"></a>
			</div>
		</div>
    </div>
{% endblock %}