{% extends 'blog/Yerim/base.html' %}

{% block content %}
    <!--Title Tube-->
    <div class="title-tube" style="background-image:url(../../static/image/tb00_3.gif)">
        <div class="title-tube-box"><p>협력 인원 및 조직</p></div>
    </div>

    <div style="margin-top: 30px"></div>

    <div class ="title-list">
        <div class ="title-list-box"><p></p></div>
        <div class ="title-list-text">
            C1 회사이름
        </div>
        <div class ="title-list-text">
            &nbsp;&nbsp;&nbsp;&nbsp; id: <input type="text" size="15">
            &nbsp;&nbsp; pw: <input type="password" size="10"> &nbsp;&nbsp; 
            <input type="button" value="로그인" onclick="location.href='{% url 'Yerim_matrix' %}'">
        </div>
    </div>

    <div class ="title-list">
        <div class ="title-list-box"><p></p></div>
        <div class ="title-list-text">
            C5 사업주체
        </div>
        <div class ="title-list-text">
            &nbsp;&nbsp;&nbsp;&nbsp; id: <input type="text" size="15">
            &nbsp;&nbsp; pw: <input type="password" size="10"> &nbsp;&nbsp; 
            <input type="button" value="로그인" onclick="location.href='{% url 'Yerim_matrix' %}'">
        </div>
    </div>

    <div class ="title-list">
        <div class ="title-list-box"><p></p></div>
        <div class ="title-list-text">
            C6 연구기관
        </div>
        <div class ="title-list-text">
            &nbsp;&nbsp;&nbsp;&nbsp; id: <input type="text" size="15">
            &nbsp;&nbsp; pw: <input type="password" size="10"> &nbsp;&nbsp; 
            <input type="button" value="로그인" onclick="location.href='{% url 'Yerim_matrix' %}'">
        </div>
    </div>

    <div class ="title-list">
        <div class ="title-list-box"><p></p></div>
        <div class ="title-list-text">
            C9 금융기관
        </div>
        <div class ="title-list-text">
            &nbsp;&nbsp;&nbsp;&nbsp; id: <input type="text" size="15">
            &nbsp;&nbsp; pw: <input type="password" size="10"> &nbsp;&nbsp; 
            <input type="button" value="로그인" onclick="location.href='{% url 'Yerim_matrix' %}'">
        </div>
    </div>

    <div class ="title-list">
        <div class ="title-list-box"><p></p></div>
        <div class ="title-list-text">
            N1 정부기관
        </div>
        <div class ="title-list-text">
            &nbsp;&nbsp;&nbsp;&nbsp; id: <input type="text" size="15">
            &nbsp;&nbsp; pw: <input type="password" size="10"> &nbsp;&nbsp; 
            <input type="button" value="로그인" onclick="location.href='{% url 'Yerim_matrix' %}'">
        </div>
    </div>

    <div class ="title-list">
        <div class ="title-list-box"><p></p></div>
        <div class ="title-list-text">
            N3 재무투자
        </div>
        <div class ="title-list-text">
            &nbsp;&nbsp;&nbsp;&nbsp; id: <input type="text" size="15">
            &nbsp;&nbsp; pw: <input type="password" size="10"> &nbsp;&nbsp; 
            <input type="button" value="로그인" onclick="location.href='{% url 'Yerim_matrix' %}'">
        </div>
    </div>

    <div class ="title-list">
        <div class ="title-list-box"><p></p></div>
        <div class ="title-list-text">
            N6 학교기관
        </div>
        <div class ="title-list-text">
            &nbsp;&nbsp;&nbsp;&nbsp; id: <input type="text" size="15">
            &nbsp;&nbsp; pw: <input type="password" size="10"> &nbsp;&nbsp; 
            <input type="button" value="로그인" onclick="location.href='{% url 'Yerim_matrix' %}'">
        </div>
    </div>

{% endblock %}