{% extends 'blog/Yerim/base.html' %}

{% block content %}
    <!--Title Tube-->
    <div class="title-tube" style="background-image:url(../../static/image/tb00_3.gif)">
        <div class="title-tube-box"><p>협력 인원 및 조직</p></div>
    </div>

    <div style="margin-top: 30px"></div>

    <div class ="title-list">
        <div class ="title-list-box"><p></p></div>
        <div class ="title-list-text">
        	<a onclick="location.href='{% url 'Yerim_matrix' %}'">
        		<p>C1 회사이름</p>
        	</a>
        </div>
    </div>

    <div class ="title-list">
        <div class ="title-list-box"><p></p></div>
        <div class ="title-list-text">
        	<a onclick="location.href='{% url 'Yerim_matrix' %}'">
        		<p>C5 사업주체</p>
        	</a>
        </div>
    </div>

    <div class ="title-list">
        <div class ="title-list-box"><p></p></div>
        <div class ="title-list-text">
        	<a onclick="location.href='{% url 'Yerim_matrix' %}'">
        		<p>C6 연구기관</p>
        	</a>
        </div>
    </div>

    <div class ="title-list">
        <div class ="title-list-box"><p></p></div>
        <div class ="title-list-text">
        	<a onclick="location.href='{% url 'Yerim_matrix' %}'">
        		<p>C9 금융기관</p>
        	</a>
        </div>
    </div>

    <div class ="title-list">
        <div class ="title-list-box"><p></p></div>
        <div class ="title-list-text">
        	<a onclick="location.href='{% url 'Yerim_matrix' %}'">
        		<p>N1 정부기관</p>
        	</a>
        </div>
    </div>

    <div class ="title-list">
        <div class ="title-list-box"><p></p></div>
        <div class ="title-list-text">
        	<a onclick="location.href='{% url 'Yerim_matrix' %}'">
        		<p>N3 재무투자</p>
        	</a>
        </div>
    </div>

    <div class ="title-list">
        <div class ="title-list-box"><p></p></div>
        <div class ="title-list-text">
        	<a onclick="location.href='{% url 'Yerim_matrix' %}'">
        		<p>N6 학교기관</p>
        	</a>
        </div>
    </div>

{% endblock %}