{% load staticfiles %}
<html>
    <head>
        <title>Global System</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body style="width:1200px;margin:0 auto;">
        <!--HEADER-->
        <div class="page-header" style="background-image: url(../../static/image/back3.gif)">
            <!--<img src="../../static/image/back5.gif">-->
            <div class="page-header-left">
                <!--logo/link to main page-->
                <div style="width: 300px; height: 100px; cursor: pointer; margin-top:10px; margin-left:25px;"
                onclick="location.href='{% url 'Yerim_index' %}'">
                    <h1>예림 아이티</h1>
                </div>
                <div>
                    <!--main 2 btn-->
                    <div style="float:right; margin-bottom: 10px;">
                        <img src="../../static/image/bt_none.gif">
                    </div>
                    <div style="float:right; margin-bottom: 10px">
                        <img src="../../static/image/bt_none.gif">
                    </div>

                </div>
            </div>

            <div class="page-header-right">
                <h2>[WEB]</h2>
            </div>


        </div>
        <div class="navigator">
        </div>
        <!--CONTENT-->
        <div class="page-content">
        {% block content %}
        {% endblock %} 

        </div>

        <!--FOOTER-->
        <div class="page-footer">
        <h5>Copyright@2018 *** All right Reserved</h5>
        </div>
        
    </body>
</html>