{% extends 'blog/Yerim/base.html' %}

{% block content %}
    <!--Title Tube-->
    <div class="title-tube" style="background-image:url(../../static/image/tb00.gif)">
        <div class="title-tube-box"><p>체계 국력 요소</p></div>
    </div>
    <div>
    	<!--title selected-->
        <div class ="title-box">
        	<div class ="title-box-square"><p></p></div>
        	<!--제목바-->
        	<div class ="title-box-text"><p></p></div>
        </div>
        <!-- Drop down area-->
		<br>
		<!--Select 1-->
		<select onchange="location.href='{% url 'Yerim_suppleterm' %}';
		window.open('{% url 'modPage' %}','_blank',
		'resizable=false, width=800, height=400')">
			<option selected="">1 C 체계 N 국력 요소</option>
			<option>C1 과업</option>
			<option>C2 환경</option>
			<option>C3 절차</option>
			<option>C4 통솔</option>
			<option>C5 인간</option>
			<option>C6 이론</option>
			<option>C7 과학</option>
			<option>C8 통신</option>
			<option>C9 장비</option>
			<option>C10 시설</option>
			<option>N1 정치</option>
			<option>N2 외교</option>
			<option>N3 경제</option>
			<option>N4 군사</option>
			<option>N5 정보</option>
			<option>N6 교육</option>
			<option>N7 구조</option>
			<option>N8 실행</option>
			<option>N9 사회</option>
			<option>N10 문화</option>
		</select>
		<!--Select 2-->
		<select onchange="location.href='{% url 'Yerim_suppleterm' %}';
		window.open('{% url 'modPage' %}','_blank',
		'resizable=false, width=800, height=400')">
			<option selected="">2 C 체계 N 국력 요소</option>
			<option>C1 과업</option>
			<option>C2 환경</option>
			<option>C3 절차</option>
			<option>C4 통솔</option>
			<option>C5 인간</option>
			<option>C6 이론</option>
			<option>C7 과학</option>
			<option>C8 통신</option>
			<option>C9 장비</option>
			<option>C10 시설</option>
			<option>N1 정치</option>
			<option>N2 외교</option>
			<option>N3 경제</option>
			<option>N4 군사</option>
			<option>N5 정보</option>
			<option>N6 교육</option>
			<option>N7 구조</option>
			<option>N8 실행</option>
			<option>N9 사회</option>
			<option>N10 문화</option>
		</select>
		<!--Select 3-->
		<select onchange="location.href='{% url 'Yerim_suppleterm' %}';
		window.open('{% url 'modPage' %}','_blank',
		'resizable=false, width=800, height=400')">
			<option selected="">3 C 체계 N 국력 요소</option>
			<option>C1 과업</option>
			<option>C2 환경</option>
			<option>C3 절차</option>
			<option>C4 통솔</option>
			<option>C5 인간</option>
			<option>C6 이론</option>
			<option>C7 과학</option>
			<option>C8 통신</option>
			<option>C9 장비</option>
			<option>C10 시설</option>
			<option>N1 정치</option>
			<option>N2 외교</option>
			<option>N3 경제</option>
			<option>N4 군사</option>
			<option>N5 정보</option>
			<option>N6 교육</option>
			<option>N7 구조</option>
			<option>N8 실행</option>
			<option>N9 사회</option>
			<option>N10 문화</option>
		</select>
		<!--Select 4-->
		<select onchange="location.href='{% url 'Yerim_suppleterm' %}';
		window.open('{% url 'modPage' %}','_blank',
		'resizable=false, width=800, height=400')">
			<option selected="">4 C 체계 N 국력 요소</option>
			<option>C1 과업</option>
			<option>C2 환경</option>
			<option>C3 절차</option>
			<option>C4 통솔</option>
			<option>C5 인간</option>
			<option>C6 이론</option>
			<option>C7 과학</option>
			<option>C8 통신</option>
			<option>C9 장비</option>
			<option>C10 시설</option>
			<option>N1 정치</option>
			<option>N2 외교</option>
			<option>N3 경제</option>
			<option>N4 군사</option>
			<option>N5 정보</option>
			<option>N6 교육</option>
			<option>N7 구조</option>
			<option>N8 실행</option>
			<option>N9 사회</option>
			<option>N10 문화</option>
		</select>
		<!--Select 5-->
		<select onchange="location.href='{% url 'Yerim_suppleterm' %}';
		window.open('{% url 'modPage' %}','_blank',
		'resizable=false, width=800, height=400')">
			<option selected="">5 C 체계 N 국력 요소</option>
			<option>C1 과업</option>
			<option>C2 환경</option>
			<option>C3 절차</option>
			<option>C4 통솔</option>
			<option>C5 인간</option>
			<option>C6 이론</option>
			<option>C7 과학</option>
			<option>C8 통신</option>
			<option>C9 장비</option>
			<option>C10 시설</option>
			<option>N1 정치</option>
			<option>N2 외교</option>
			<option>N3 경제</option>
			<option>N4 군사</option>
			<option>N5 정보</option>
			<option>N6 교육</option>
			<option>N7 구조</option>
			<option>N8 실행</option>
			<option>N9 사회</option>
			<option>N10 문화</option>
		</select>
		

		<!--Content area-->
		<div class="content-box-flow">
			<!--선택경로표시(미구현)-->
			<h4 style="margin: 0px"></h4>
		</div>
		<div class="content-box-main">

			{% include "../Yerim/yerim_business.html" %}

		</div>
		<div class="content-box-foot">
			<div style="position:absolute;right: 0px;bottom: 0px;border: 0px">
				<a><img src="../../static/image/rewrite.gif"></a>
				<a><img src="../../static/image/save.gif"></a>
				<a><img src="../../static/image/print.gif"></a>
			</div>
		</div>
    </div>
{% endblock %}