{% extends 'blog/Yerim/base.html' %}

{% block content %}
    <!--Select Mode-->
    <div style="margin:20px"><img src="../../static/image/index-page2_01.gif"></div>

    <div>
        <div style="float:left">
            <img src="../../static/image/index-page2_02.gif">
        </div>
        <!--2 BNT-->
        <div style="display:inline-block;">
            <div>
                <img src="../../static/image/index-page2_03.gif" class="main-btn"
                onclick="location.href='{% url 'Yerim_7' %}'">
            </div>
            <div>
                <img src="../../static/image/index-page2_04.gif" class="main-btn">
            </div>
        </div>
        <div>
            <ul>
                <li>C1 사업을 동시적으로 검토<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;각자의 문제점을 종합적으로 검토<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;사업의 유효성을 검토</li>
                <li>C2 사업검토의 시간적 공간적 문제 해결</li>
                <li>C3 합리적 의사결정</li>
                <li>C4 전문적 컨설팅 보충</li>
                <li>C5 사업에 연관된 인원 조직이 전체가 참여하여 협력</li>
                <li>C6 법적 학술적 검토</li>
                <li>C7 기술적 특허권 검토</li>
                <li>C8 사업의 상호연관성 발전</li>
                <li>C9 사업의 상호시너지 발전</li>
                <li>C10 국가별 사업적용의 지원조직 발전</li>
                <li>N1 정부기관의 동시적 참여</li>
                <li>N2 경쟁기업과의 경쟁력 분석</li>
                <li>N3 상호협력 가능한 기업간 조합<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;금융기관의 지원네트워크 발전</li>
                <li>N4 사업의 위험평가 및 관리</li>
                <li>N5 결정적 정보의 공유</li>
                <li>N6 학교연구소 협력</li>
                <li>N7 지역별 인간조직과 협력체계발전</li>
                <li>N8 사업의 추진단계 발전</li>
                <li>N9 사회적 공헌</li>
                <li>N10 각자사고의 미비점 보완 및 창의성 적용</li>
                
            </ul>
        </div>
    </div>
{% endblock %}