{% extends 'blog/Yerim/base.html' %}

{% block content %}
    <!--Title Tube-->
    <div class="title-tube" style="background-image:url(../../static/image/tb02.gif)">
        <div class="title-tube-box">
        	<p>제&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;목</p>
        </div>
    </div>
    <div style="margin-top: 20px">
        <div style="margin-bottom: 25px">
        	<img src="../../static/image/bar07.gif">
        </div>

        <div class ="title-list">
        	<div class ="title-list-box"><p>1</p></div>
        	<div class ="title-list-text">
        		<a onclick="location.href='{% url 'Yerim_24' %}'">
        			<p>통신형 결제 단말기 사업추진계획</p>
        		</a>
        	</div>
        </div>

        <div class ="title-list">
        	<div class ="title-list-box"><p>2</p></div>
        	<div class ="title-list-text"></div>
        </div>

        <div class ="title-list">
        	<div class ="title-list-box"><p>3</p></div>
        	<div class ="title-list-text"></div>
        </div>

        <div class ="title-list">
        	<div class ="title-list-box"><p>4</p></div>
        	<div class ="title-list-text"></div>
        </div>

        <div class ="title-list">
        	<div class ="title-list-box"><p>5</p></div>
        	<div class ="title-list-text"></div>
        </div>

        <div class ="title-list">
        	<div class ="title-list-box"><p>6</p></div>
        	<div class ="title-list-text"></div>
        </div>

        <div class ="title-list">
        	<div class ="title-list-box"><p>7</p></div>
        	<div class ="title-list-text"></div>
        </div>

        <div class ="title-list">
        	<div class ="title-list-box"><p>8</p></div>
        	<div class ="title-list-text"></div>
        </div>

        <div class ="title-list">
        	<div class ="title-list-box"><p>9</p></div>
        	<div class ="title-list-text"></div>
        </div>

        <div class ="title-list">
        	<div class ="title-list-box"><p>10</p></div>
        	<div class ="title-list-text"></div>
        </div>

        <div style="text-align: center;">
        	<p>1 2 3 4 5</p>
        	<p>이전 다음</p>
        </div>

        <div style="margin-bottom: 50px"></div>
    </div>
{% endblock %}