{% extends 'blog/SnG/base.html' %}

{% block content %}
    <!--Title Tube-->
    <div class="title-tube" style="background-image:url(../../static/image/tb06.gif)">
        <div class="title-tube-box"><p>구 조</p></div>
    </div>
    <div style="text-align: center">
    	<!--title selected-->
        <div class ="title-box">
        	<div class ="title-box-square"><p></p></div>
        	<!--제목바-->
        	<div class ="title-box-text"><p></p></div>
        </div>
        <!-- Drop down area-->
		<br>
		<!--Select 1-->
		<select onchange="location.href='{% url 'SnG_coreterm' %}'">
			<option selected="">------구 조--------</option>
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		</select>
		

		<!--Content area-->
		<div class="content-box-flow">
			<!--선택경로표시(미구현)-->
			<h4 style="margin: 0px"></h4>
		</div>
		<div class="content-box-main">
		</div>
		<div class="content-box-foot">
			<div style="position:absolute;right: 0px;bottom: 0px;border: 0px">
				<a><img src="../../static/image/rewrite.gif"></a>
				<a><img src="../../static/image/save.gif"></a>
				<a><img src="../../static/image/print.gif"></a>
			</div>
		</div>
    </div>
{% endblock %}