{% extends 'blog/SnG/base.html' %}

{% block content %}
    <!--Title Tube-->
    <div class="title-tube" style="background-image:url(../../static/image/tb00_3.gif)">
        <div class="title-tube-box"><p>체 계</p></div>
    </div>
    <div>
    	<!--title selected-->
        <div class ="title-box">
        	<div class ="title-box-square"><p></p></div>
        	<!--제목바-->
        	<div class ="title-box-text"><p></p></div>
        </div>
        <!-- Drop down area-->
        <!--12345TABLE
    	<table border ="1">
  			<tr>
    			<th width="200px">1</th>
    			<th width="200px">2</th>
    			<th width="200px">3</th>
    			<th width="200px">4</th>
    			<th width="200px">5</th>
  			</tr>
		</table>
		-->
		<br>
		<!--Select 1-->
		<select onchange="location.href='{% url 'SnG_17' %}';
		window.open('{% url 'modPage' %}','_blank',
		'resizable=false, width=800, height=400')">
			<option selected="">주제 성공 체계</option>
			<option>COOPERATION SUBJECT</option>
			<option>TYPE</option>
			<option>CHARACTERISICS</option>
			<option>TASK ORGANIZATION</option>
			<option>TASK LIST</option>
		</select>
		<!--Select 2-->
		<select onchange="location.href='{% url 'SnG_17' %}';
		window.open('{% url 'modPage' %}','_blank',
		'resizable=false, width=800, height=400')">
			<option selected="">성공 양식 체계</option>
			<option>MISSION</option>
			<option>ENVIRONMENT / SITUATION</option>
			<option>POWER PROJECT / EXECUTION</option>
			<option>SUPPORT / LOGIC &amp; ADMINISTRATION</option>
			<option>COMMAND</option>
		</select>
		<!--Select 3-->
		<select onchange="location.href='{% url 'SnG_17' %}';
		window.open('{% url 'modPage' %}','_blank',
		'resizable=false, width=800, height=400')">
			<option selected="">절차 지원 체계</option>
			<option>PLANNING INITIATIVE/ MISSION</option>
			<option>PLANNING DEVELOPMENT</option>
			<option>ANALYSIS</option>
			<option>COMPRISON/ APPROVAL</option>
			<option>PLAN ORDER</option>
		</select>
		<!--Select 4-->
		<select onchange="location.href='{% url 'SnG_17' %}';
		window.open('{% url 'modPage' %}','_blank',
		'resizable=false, width=800, height=400')">
			<option selected="">절차 지원 체계</option>
			<option>지원관계</option>
			<option>상호작용관계</option>
			<option>단일절차 표준화</option>
			<option>융합</option>
			<option>자동화된 과업 흐름</option>
		</select>
		<!--Select 5-->
		<select onchange="location.href='{% url 'SnG_17' %}';
		window.open('{% url 'modPage' %}','_blank',
		'resizable=false, width=800, height=400')">
			<option selected="">지원 통솔통제 체계</option>
			<option>COMMAND</option>
			<option>통제 체계</option>
			<option>컴퓨터 체계</option>
			<option>통신 체계</option>
			<option>정보 체계</option>
		</select>

		<!--Content area-->
		<div class="content-box-flow">
			<!--선택경로표시(미구현)-->
			<h4 style="margin: 0px"></h4>
		</div>
		<div class="content-box-main" style="text-align:left;">

			{% include "../SnG/sng_business.html" %}

		</div>
		<div class="content-box-foot">
			<div style="position:absolute;right: 0px;bottom: 0px;">
				<a><img src="../../static/image/rewrite.gif"></a>
				<a><img src="../../static/image/save.gif"></a>
				<a><img src="../../static/image/print.gif"></a>
			</div>
		</div>
    </div>
{% endblock %}