{% extends 'blog/SnG/base.html' %}

{% block content %}
    <!--Title Tube-->
    <div class="title-tube" style="background-image:url(../../static/image/tb00_3.gif)">
        <div class="title-tube-box"><p>기업회원사이트 운영목적</p></div>
    </div>
    <div>
    	<!--title selected-->
        <div class ="title-box">
        	<div class ="title-box-square"><p></p></div>
        	<!--제목바-->
        	<div class ="title-box-text"><p></p></div>
        </div>

		<br>
		
		<!--Content area-->
		<div class="content-box-flow">
			<!--선택경로표시(미구현)-->
			<h4 style="margin: 0px"></h4>
		</div>
		<div class="content-box-main">

			<ul>
                <li>C1 사업을 동시적으로 검토<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;각자의 문제점을 종합적으로 검토<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;사업의 유효성을 검토</li><br>
                <li>C2 사업검토의 시간적 공간적 문제 해결</li><br>
                <li>C3 합리적 의사결정</li><br>
                <li>C4 전문적 컨설팅 보충</li><br>
                <li>C5 사업에 연관된 인원 조직이 전체가 참여하여 협력</li><br>
                <li>C6 법적 학술적 검토</li><br>
                <li>C7 기술적 특허권 검토</li><br>
                <li>C8 사업의 상호연관성 발전</li><br>
                <li>C9 사업의 상호시너지 발전</li><br>
                <li>C10 국가별 사업적용의 지원조직 발전</li><br>
                <li>N1 정부기관의 동시적 참여</li><br>
                <li>N2 경쟁기업과의 경쟁력 분석</li><br>
                <li>N3 상호협력 가능한 기업간 조합<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;금융기관의 지원네트워크 발전</li><br>
                <li>N4 사업의 위험평가 및 관리</li><br>
                <li>N5 결정적 정보의 공유</li><br>
                <li>N6 학교연구소 협력</li><br>
                <li>N7 지역별 인간조직과 협력체계발전</li><br>
                <li>N8 사업의 추진단계 발전</li><br>
                <li>N9 사회적 공헌</li><br>
                <li>N10 각자사고의 미비점 보완 및 창의성 적용</li><br>
            </ul>

        </div>

		</div>
		<div class="content-box-foot">
			<div style="position:absolute;right: 0px;bottom: 0px;">
				<a><img src="../../static/image/rewrite.gif"></a>
				<a><img src="../../static/image/save.gif"></a>
				<a><img src="../../static/image/print.gif"></a>
			</div>
		</div>
    </div>
{% endblock %}