{% extends 'blog/SnG/base.html' %}

{% block content %}
    <!--Title Tube-->
    <div class="title-tube" style="background-image:url(../../static/image/tb02.gif)">
        <div class="title-tube-box">
        	<p>제&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;목</p>
        </div>
    </div>
    <div style="margin-top: 20px">
        <div style="margin-bottom: 25px">
        	<img src="../../static/image/bar07.gif">
        </div>

        <div class ="title-list">
        	<div class ="title-list-box"><p>1</p></div>
        	<div class ="title-list-text">
        		<a onclick="location.href='{% url 'SnG_purpose' %}'">
        			<p>기업회원사이트 운영목적</p>
        		</a>
        	</div>
        </div>

        <div class ="title-list">
            <div class ="title-list-box"><p>2</p></div>
            <div class ="title-list-text">
                <a onclick="location.href='{% url 'SnG_introduction' %}'">
                    <p>회사소개</p>
                </a>
            </div>
        </div>

        <div class ="title-list">
            <div class ="title-list-box"><p>3</p></div>
            <div class ="title-list-text">
                <a onclick="location.href='{% url 'SnG_24' %}'">
                    <p>계간축열조이용 태양열시스템</p>
                </a>
            </div>
        </div>

        <div class ="title-list">
            <div class ="title-list-box"><p>4</p></div>
            <div class ="title-list-text">
                <a onclick="location.href='{% url 'SnG_24' %}'">
                    <p>태양열을이용한직간접공급방식의하이브리드건조시스템</p>
                </a>
            </div>
        </div>

        <div class ="title-list">
        	<div class ="title-list-box"><p>5</p></div>
        	<div class ="title-list-text"><a onclick="location.href='{% url 'SnG_24' %}'">
                    <p>태양열을이용한하수슬러지건조시스템개발</p>
                </a>
            </div>
        </div>

        <div class ="title-list">
        	<div class ="title-list-box"><p></p></div>
        	<div class ="title-list-text"></div>
        </div>

        <div class ="title-list">
        	<div class ="title-list-box"><p></p></div>
        	<div class ="title-list-text"></div>
        </div>

        <div class ="title-list">
        	<div class ="title-list-box"><p></p></div>
        	<div class ="title-list-text"></div>
        </div>

        <div class ="title-list">
        	<div class ="title-list-box"><p></p></div>
        	<div class ="title-list-text"></div>
        </div>

        <div class ="title-list">
        	<div class ="title-list-box"><p></p></div>
        	<div class ="title-list-text"></div>
        </div>

        <div style="text-align: center;">
        	<p>1 2 3 4 5</p>
        	<p>이전 다음</p>
        </div>

        <div style="margin-bottom: 50px"></div>
    </div>
{% endblock %}