{% extends 'blog/base.html' %}

{% block content %}
    <!--Title Tube-->
    <div class="title-tube" style="background-image:url(../../static/image/tb00_3.gif)">
        <div class="title-tube-box"><p>24 과정선택</p></div>
    </div>
    <div>
    	<!--title selected-->
        <div class ="title-box">
        	<div class ="title-box-square"><p></p></div>
        	<div class ="title-box-text"><p>제목 리스트에서 선택한 첫번째 글</p></div>
        </div>
        <!-- Drop down area-->
    	<table border ="1">
  			<tr>
    			<th width="180px">1</th>
    			<th width="180px">2</th>
    			<th width="180px">3</th>
    			<th width="180px">4</th>
    			<th width="180px">5</th>
  			</tr>
		</table>
		<br>
		<!--Select 1-->
		<select onchange="location.href='{% url '17' %}'">
			<option selected="">통합계획인식</option>
			<option>A1</option>
			<option>A2</option>
			<option>A3</option>
		</select>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<!--Select 2-->
		<select onchange="location.href='{% url '17' %}'">
			<option selected="">상급기관 통합계회인식</option>
			<option>B1</option>
			<option>B2</option>
			<option>B3</option>
		</select>
		&nbsp;&nbsp;&nbsp;
		<!--Select 3-->
		<select onchange="location.href='{% url '17' %}'">
			<option selected="">해당계급 통합계획인식</option>
			<option>C1</option>
			<option>C2</option>
			<option>C3</option>
		</select>
		&nbsp;&nbsp;&nbsp;
		<!--Select 4-->
		<select onchange="location.href='{% url '17' %}'">
			<option selected="">하급기관 통합계획인식</option>
			<option>d1</option>
			<option>d2</option>
			<option>d3</option>
		</select>
		&nbsp;&nbsp;&nbsp;
		<!--Select 5-->
		<select onchange="location.href='{% url '17' %}'">
			<option selected="">활동주체 통합계획인식</option>
			<option>e1</option>
			<option>e2</option>
			<option>e3</option>
		</select>

		<!--Content area-->
		<div class="content-box-flow">
			<h4 style="margin: 0px">선택>경로>선택>표시>부분 (미구현)</h4>
		</div>
		<div class="content-box-main">
		</div>
		<div class="content-box-foot">
			<div style="position:absolute;right: 0px;bottom: 0px;">
				<a><img src="../../static/image/rewrite.gif"></a>
				<a><img src="../../static/image/save.gif"></a>
				<a><img src="../../static/image/print.gif"></a>
			</div>
		</div>
    </div>
{% endblock %}